.App {
  /*
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  */
  background-color: #ffffff;
  min-height: 100vh;
  justify-content: left;
  padding: 1rem;
  font-size: calc(10px + 2vmin);
  color: #808080;
}

.App-header {
  height: 2rem;
  border-bottom: 1px solid #aaaaaa;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}
